// .updatenotes{
//     // border: 2px solid red;
// }
.mat-card-title{
    font-size: 22px; 
    width: 600px; 
    height: auto;
}
.mat-card-subtitle{
    font-size: 1rem; 
    padding-top: 3%; 
    padding-bottom: 10%;
}