*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}
.main-name{
   
    width: 500px;
    height:100%;
    margin: auto;
    margin-top: 2cm;
}
.main-name form{
    width: 100%;
    height: 70%;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
h1{
    text-align: center;
    }
h4{
    
    text-align: center;
}
.form-group{
     display: flex;
     flex-direction: column;
     padding: 5px 0px 0px 20px;
     padding-left: 0%;
     margin-left: 1%;
}
.header1 h5{
    
    color: blue;
    font-size: 15px;
    margin:0.1cm 5cm 1.5cm 0;
    margin-top: -6px;
    margin-left: 7px;
}
.content1 p{
    font-size: 15px;
    text-align: left;
    color: gray;
}
.content2 p{
    text-align: left;
    color: blue;
    font-size: 13px;
    margin-top: -13px;
}
.footer{
    display: flex;
    flex-direction: row;
}
.footer .text{
    color: blue;
    margin-bottom:3cm;
    margin-top: .5cm;
}
.footer .button{
    
    width: 6cm;
    height: 2cm;
    text-align: right;
    margin-top: 0.5cm;
    border-radius: 5px;
    font-weight: 900;
}
.button .next-button{
    background-color: blue;
    width: 1.5cm;
    height: 1cm;
}
.button {
    position: absolute;
    left: 47%;
}