*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.main-name{
     width: 500px;
     background-color: #eee;
    margin: auto;
    margin-top: 2cm;
}
.main-name form{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
h1{
    text-align: center;
}
h4{
    
    text-align: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 20px;
    padding-left: 0%;
    margin-left: 1%;
}

.form-group1{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 20px;
    padding-left: 0%;
    margin-left: 1%;
   margin-top: -10px;
   
}

.check-Box .example-margin{
    margin-left: 10px;
}
.footer{
    display: flex;
}
.footer .text{

    color: blue;
    margin-bottom:3cm;
    margin-top: 1.5cm;
    margin-left: 10px;
}
.footer .button{
    width: 6cm;
    height: 2cm;
    text-align: right;
    margin-top: 1.4cm;
    margin-left: 150px;
    border-radius: 5px;
    font-weight: 900;
}
