<!-- <app-registration></app-registration> -->
<!-- <app-login></app-login> -->
<!-- <app-forgot-password></app-forgot-password> -->
<!-- <app-reset-password></app-reset-password> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-takenote></app-takenote> -->
<!-- <app-displaycards></app-displaycards> -->
<!-- <app-icons></app-icons> -->
<!-- <app-updatenotes></app-updatenotes> -->
<!-- <app-trashlist></app-trashlist> -->
<!-- <app-archivelist></app-archivelist> -->
<router-outlet></router-outlet>

